@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.root {
    --primary-color: #0757ce;
    --border: #111827;
}

body {
    margin: 0;
    font-family: 'Indie Flower', cursive;
}

nav {
    background-color: var(--primary-color);
    text-align: center;
    margin: auto;
    color: white;
    padding: 1.5rem;
    max-width: 100%;
    max-height: 20vh
}

img {
    width: 60px;
}

header {
    font-size: 3rem;
}

.container-center {
    margin: auto;
    padding: 1.5rem;
    max-width: 400px;
    font-size: x-large;
}

textarea {
    width: 100%;
    font-family: inherit;
    border: 1px solid var(--border);
    font-size: 17px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 1.3rem;
    text-align: center;
}

button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    padding: 0.5rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

.output {
    overflow: scroll;
    min-height: 10vh;
    border: 1px solid var(--border);
}